name: BAMOE DEV PIPLEINE

on:
  push:
    branches:
      - dev   
    paths-ignore:
      - '.github/workflows/workflow-test.yaml'      
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        default: 'dev'
permissions:
  contents: write  # Needed to push changes
jobs:
  build:
    environment: dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq
          yq --version
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'semeru' # ou 'temurin', 'zulu', etc.
          cache: 'maven'
      - name: Setup Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: '3.9.5'
  #    - name: Setup Maven Action
  #      uses: s4u/setup-maven-action@v1.18.0
  #      with:
  #        java-version: '17'
  #        java-distribution : 'semeru'
  #        maven-version: '3.9.5'
          #settings-path: .github/maven/settings.xml
      - name: Run the Maven verify phase
        run: |
          echo "Running Maven verify phase"
          var=$(mvn --version)
          echo "Hello $var, happy to see you again"
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.DOCKER_REGISTRY != '' && vars.DOCKER_REGISTRY || env.DOCKER_REGISTRY }}
          username: ${{ vars.DOCKER_USER != '' &&  vars.DOCKER_USER || env.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build with custom repo
        run: |
          echo "Building the project with custom Maven repository"
          export TAG="dev_${{ github.run_number }}"
          echo "TAG is set to $TAG"
          yq e '.spec.template.spec.containers[0].image = "quay.io/malek_jabri/loangeneration-bt:" + strenv(TAG)' -i kub/deployment.yaml
          gh variable set DEPLOY_IMAGE --body "quay.io/malek_jabri/loangeneration-bt:$TAG" --repo MalekJabri/loangeneration-bt
          #cat  kub/deployment.yaml
          mvn clean install -Dquarkus.container-image.build=true -Dquarkus.container-image.push=true --settings=.github/maven/settings.xml -Dquarkus.profile=github
          docker images | grep loangeneration-bt || echo "No image found"
        env:
          GH_TOKEN: ${{ secrets.GIT_TOKEN }}
      - name: deploy on Kubernetes
        run: |
          mkdir -p $HOME/.kube 
          echo "connecting on Kubernetes"           
          kubectl config set-cluster onprem   --server="${{ vars.OPENSHIFT_SERVER != '' && vars.OPENSHIFT_SERVER || env.OPENSHIFT_SERVER }}" 
          kubectl config set-credentials cicd-user --token="${{ secrets.OPENSHIFT_TOKEN }}"
          kubectl config set-context cicd-context --cluster=onprem --user=cicd-user
          kubectl config use-context cicd-context
          kubectl config set-context --current --namespace=${{ vars.OPENSHIFT_PROJECT != '' && vars.OPENSHIFT_PROJECT || env.OPENSHIFT_PROJECT }}
          echo "Deploying on Kubernetes"
          #dockerconfigjson=$(echo -n '{"auths":{"${{  vars.DOCKER_REGISTRY != '' && vars.DOCKER_REGISTRY || env.DOCKER_REGISTRY }}":{"username":"${{  vars.DOCKER_USER != '' && vars.DOCKER_USER || env.DOCKER_USER  }}","password":"${{ secrets.DOCKER_PASSWORD }}","auth":"'$(echo -n "myuser:mypassword" | base64)'"}}}' | base64 -w 0)          
          #envsubst < kub/secret_registry.yaml | kubectl apply -f -
          #kubectl apply -f kub/secret_registry.yaml
          kubectl apply -f kub/deployment.yaml
          kubectl apply -f kub/service.yaml
          kubectl apply -f kub/ha.yaml
